{{define "item"}}
<div class="task">
  <div class="input-append">
    <input class="span6 name" type="text" value="{{.Name}}" placeholder="Task name">
    <input class="span1 etime" type="text" value="{{.EstimatedTime}}" placeholder="Estimated time">
   <div class="btn-group">
      <input type="hidden" class="status" value="{{.Status}}">
      <button class="btn dropdown-toggle btn-status" data-toggle="dropdown">
        {{.Status}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="btn btn-danger change-status">Todo</a></li>
        <li><a class="btn btn-warning change-status">Started</a></li>
        <li><a class="btn btn-success change-status">Done</a></li>
      </ul>
    </div>
  </div>
  <a class="btn remove-task"><span class="icon-remove"></span></a>
  <a class="btn add-sub-task"><span class="icon-plus"></span></a>
  <a class="btn toggle-description"><span class="icon-chevron-down"></span></a></br>
  <textarea rows="3" {{ if .Description }} {{ else }} style="display:none;" {{ end }} class="description" placeholder="Task description">{{.Description}}</textarea>
  <div class="tasks">
    {{range .Items}}
    {{template "item" .}}
    {{end}}
  </div>
</div>
{{end}}

<form class="form-inline">
  <div class="input-append">
    <input class="span4" id="name" type="text" value="{{.Name}}">
    <input class="span1" id="etime" type="text" value="{{.EstimatedTime}}">
    <input type="hidden" id="mtime" value="{{.ModificationTime}}">
    <button class="btn btn-primary" id="save" type="button">Save</button>
  </div>
  <a class="btn btn-primary" id="btn-add-task"><span class="icon-plus icon-white"></span></a>
  <button class="btn btn-primary" type="button" id="btn-hide-descr">Hide descriptions</button>
  <button class="btn btn-primary" type="button" id="btn-drag">Organize</button>
  <span class="message label"></span>

  <br/><br/>
    <div class="progress">
    </div>
  <br/>

  <div id="tasks">
  {{range .Items}}
  {{template "item" .}}
  {{end}}
  </div>
</form>
<script src="/static/js/view.js"></script>
